<div *ngIf="!loading" class="flex items-center justify-between h-20 bg-gray-700 text-white sm:px-4 sm:pl-8">
    <div class="flex items-center space-x-4">
        <a class="flex items-center space-x-2 hover:text-gray-300" routerLink="/" (click)="goHome()">
            <img ngSrc="assets/file_transparent.png" alt="logo" height="50" width="50" class="object-contain">
            <div class="flex flex-col">
                <span class="text-xl font-semibold leading-tight">Plezalni Center</span>
                <span class="text-xl font-bold leading-tight">cliMB</span>
            </div>
        </a>

        <div *ngIf="!isSmallScreen" class="flex items-center space-x-4">
            <a class="hover:text-gray-300 font-semibold" routerLink="/" (click)="goPregledProstorov()">Prostori</a>
            <a class="hover:text-gray-300 font-semibold" routerLink="/" (click)="goNakupKart()">Nakup kart</a>
            <a class="hover:text-gray-300 font-semibold" routerLink="/" (click)="goUrnik()">Urniki</a>
            <a class="hover:text-gray-300 font-semibold" routerLink="/" (click)="goPregled()">Pregled</a>
        </div>
    </div>

    <div *ngIf="isSmallScreen">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="goPregledProstorov()">Prostori</button>
            <button mat-menu-item (click)="goNakupKart()">Nakup kart</button>
            <button mat-menu-item (click)="goUrnik()">Urniki</button>
            <button mat-menu-item (click)="goPregled()">Pregled</button>
        </mat-menu>
    </div>

    <div class="flex items-center space-x-4 mr-4">
        <button mat-raised-button
                color="primary"
                *ngIf="!authService.isLoggedIn()"
                (click)="redirectToKeycloak()"
                class="font-semibold">Prijava</button>
        <div *ngIf="authService.isLoggedIn()" class="flex gap-4">
            <fa-icon class="text-xl hover:cursor-pointer" [icon]="faUser" [matMenuTriggerFor]="menu"></fa-icon>

            <mat-menu #menu="matMenu">
                <div class="flex flex-col text-center gap-4 p-4 w-64">
                    <h2 *ngIf="!jeZaposlen" class="text-xl">Uporabnik</h2>
                    <h2 *ngIf="jeZaposlen" class="text-xl">Zaposlen</h2>
                    <mat-divider></mat-divider>
                    <p><strong>Email:</strong> {{ trenutni_uporabnik.email }}</p>
                    <div *ngIf="!jeZaposlen && !trenutni_uporabnik.mesecnaKarta && !trenutni_uporabnik.letnaKarta">
                        <p><strong>Število Enodnevnih Kart:</strong> {{ stKart }}</p>
                    </div>

                    <div *ngIf="trenutni_uporabnik.mesecnaKarta" class="flex flex-col">
                        <p><strong>Imate mesečno karto</strong></p>
                        <p>Veljavna do: {{ veljavnaDo }}</p>
                    </div>

                    <div *ngIf="trenutni_uporabnik.letnaKarta">
                        <p><strong>Imate letno karto</strong></p>
                        <p>Veljavna do: {{ veljavnaDo }}</p>
                    </div>

                    <button mat-raised-button
                            color="primary"
                            class="hover:text-gray-300 font-semibold mt-2"
                            (click)="logout()">Odjava</button>
                </div>
            </mat-menu>

        </div>
    </div>
</div>

<router-outlet></router-outlet>