<div class="flex flex-col gap-10">
    <div class="">
        <img src="assets/home_screen.png" alt="climbing">
    </div>

<!--    ikone in tekst-->
    <div class="grid grid-cols-2 w-4/5 ml-auto mr-auto gap-y-10 mb-10">
        <div class="flex flex-col text-center">
            <span>
                <mat-icon class="text-primary-light text-xl">local_drink</mat-icon>
            </span>
            <span>Sproscen bar & pivo</span>
        </div>
        <div class="flex flex-col text-center">
            <span>
                <mat-icon class="text-primary-light text-xl">fitness_center</mat-icon>
            </span>
            <span>Oprema za plezalne treninge</span>
        </div>
        <div class="flex flex-col text-center">
            <span>
                <mat-icon class="text-primary-light text-xl">directions_car</mat-icon>
            </span>
            <span>Brezplacen parking</span>
        </div>
        <div class="flex flex-col text-center">
            <span>
                <mat-icon class="text-primary-light text-xl">fitness_center</mat-icon>
            </span>
            <span>Za mladino in odrasle</span>
        </div>
    </div>

<!--    Karte ponudbe-->
    <div class="flex flex-col sm:flex-row justify-around gap-4 offer-cards">
        <div class="border rounded-lg p-4 w-1/3 h-full">
            Pregled prostorov
        </div>
        <div class="border rounded-lg p-4 w-1/3 h-full">
            Nakup karte
        </div>
        <div class="border rounded-lg p-4 w-1/3 h-full">
            Tedenski Urnik
        </div>
    </div>
</div>
