<div class="flex flex-col gap-10">
    <div class="h-50vh">
        <img src="assets/Rock-climbing-Canada.jpg" alt="climbing">
    </div>
    <div class="flex flex-col text-center gap-5">
        <span>
            Nasa Ponudba
        </span>
        <div class="flex justify-around">
            <div class="border-2 border-r-2 p-4">
                Pregled prostorov
            </div>
            <div class="border-2 border-r-2 p-4">
                Nakup karte
            </div>
            <div class="border-2 border-r-2 p-4">
                Odpiralni casi in urniki
            </div>
        </div>
    </div>
</div>


<mat-icon>home</mat-icon>