<div class="flex flex-col gap-10">
    <div class="">
        <img src="assets/home_screen.png" alt="climbing">
    </div>

<!--    ikone in tekst-->
    <div class="grid grid-cols-2 w-4/5 ml-auto mr-auto gap-y-10 mb-10">
        <div class="flex flex-col text-center">
            <span>
                <mat-icon color="accent">local_drink</mat-icon>
            </span>
            <span>Sproscen bar & pivo</span>
        </div>
        <div class="flex flex-col text-center">
            <span>
                <mat-icon class="accent-auto">fitness_center</mat-icon>
            </span>
            <span>Oprema za plezalne treninge</span>
        </div>
        <div class="flex flex-col text-center">
            <span>
                <mat-icon color="accent">directions_car</mat-icon>
            </span>
            <span>Brezplacen parking</span>
        </div>
        <div class="flex flex-col text-center">
            <span>
                <mat-icon color="accent">fitness_center</mat-icon>
            </span>
            <span>Za mladino in odrasle</span>
        </div>
    </div>

    <div class="flex flex-col text-center gap-5">
        <span>
            Nasa Ponudba
        </span>
        <div class="flex justify-around">
            <div class="border-2 border-r-2 p-4">
                Pregled prostorov
            </div>
            <div class="border-2 border-r-2 p-4">
                Nakup karte
            </div>
            <div class="border-2 border-r-2 p-4">
                Odpiralni casi in urniki
            </div>
        </div>
    </div>
</div>


<mat-icon>home</mat-icon>
<fa-icon [icon]="['fas', 'square']"></fa-icon>