@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css'; /* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-dialog-container {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.dialog-content {
    display: flex !important;
    flex-direction: column !important;
}

h1 {
    font-size: 40px;
}

.grid-urnik {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
    grid-template-rows: repeat(6, minmax(0, 1fr)); /* 6 equal rows */
    gap: 0.5rem; /* Adjust gap between items as needed */
}

.mdc-radio__outer-circle {
    display: none !important;
}

.shrani-gumb {
    margin-left: auto !important;
}

.dogodek-actions {
    margin-top: 20px !important;
}

body {
    background-color: rgb(243 244 246);
}