<div *ngIf="!isSmallScreen" class="w-full text-center mt-6">
  <h1>PLEZALNA ŠOLA</h1>
</div>

<div *ngIf="!isSmallScreen" class="container mx-auto p-4 h-screen w-full sm:w-2/3">
  <div class="grid-urnik grid grid-cols-5 gap-4 h-3/5">
    <!-- Column Headers -->
    <div class="text-center font-bold mt-10">PONEDELJEK</div>
    <div class="text-center font-bold mt-10">TOREK</div>
    <div class="text-center font-bold mt-10">SREDA</div>
    <div class="text-center font-bold mt-10">ČETRTEK</div>
    <div class="text-center font-bold mt-10">PETEK</div>

    <!-- Generate the 5x5 grid -->
    <ng-container *ngFor="let row of rows; let rowIndex = index">
      <ng-container *ngFor="let col of cols; let colIndex = index">
          <div class="text-white p-2 cursor-pointer overflow-hidden bg-gray-300"
               [class.cursor-pointer]="jeZaposlen"
               [ngStyle]="{ 'background-color': najdiDogodek(rowIndex + 1, colIndex + 1)?.barva }"
               (click)="jeZaposlen ? openDialog(rowIndex + 1, colIndex + 1) : null"
          >
          <div *ngIf="najdiDogodek(rowIndex + 1, colIndex + 1) as dogodek" class="flex flex-col text-center">
            <span>{{ dogodek.ime }}</span>
            <span>{{ dogodek.ura }}</span>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>

<div *ngIf="isSmallScreen">
    <div class="flex items-center h-screen justify-center bg-gray-100">
        <div class="text-center max-w-full p-4 box-border">
            <h1 class="text-4xl font-bold text-gray-700 mb-4">Ta stran ni na voljo na mobilnih napravah.</h1>
            <p class="text-lg text-gray-500">Za pregled urnikov, oz. terminov, obiščite to stran na računalniku.</p>
        </div>
    </div>
</div>

