<h2 mat-dialog-title class="font-semibold">Vnesi nov termin</h2>
<mat-dialog-content class="dialog-content">
    <mat-form-field>
        <mat-label>Naziv</mat-label>
        <input matInput [(ngModel)]="data.ime" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Ura</mat-label>
        <input matInput [(ngModel)]="data.ura" />
    </mat-form-field>

    <div class="flex justify-around mt-4">
        <mat-radio-group [(ngModel)]="data.barva" class="flex space-x-4">
            <mat-radio-button *ngFor="let color of colors" [value]="color" class="active:bg-black w-10 h-10 rounded-full"
                              [ngStyle]="{'background-color': color, 'filter': data.barva === color ? 'brightness(0.85)' : 'brightness(1)'}">
                <span class="hidden"></span>
            </mat-radio-button>
        </mat-radio-group>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="flex justify-between mt-6 dogodek-actions">
    <button mat-raised-button (click)="onCancel()" class="ml-2">Prekliči</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data" class="shrani-gumb ml-auto mr-2" cdkFocusInitial>Shrani</button>
</mat-dialog-actions>