<div class="flex flex-col w-3/4 h-full gap-4 mx-auto my-6">
    <h1 class="font-semibold">Pregled Prostorov</h1>

    <p class="text-left">
        V balvanskem plezalnem centru cliMB na vas čakajo balvanski izzivi vseh težavnosti, odlična družba in pozitiven odnos, ki ga želimo skupaj prenesti v svet vertikale.
    </p>
    <p class="mb-2">Plezalne površine v skupni površini 400 m2 se nahajajo v treh sektorjih, ki so med seboj ločeni tako, da lahko vadbe in treningi potekajo nemoteno. Balvanska stena je opremljena z več kot 160 balvani vseh težavnosti, ki se redno spreminjajo, previsno »šutalnico« za trening vzdržljivosti, visoko steno namenjeno izvajanjem tečajev ter sobo namenjeno otrokom.</p>

    <iframe width="100%"
            height="640"
            title="Klajmber"
            class="rounded-lg"
            allow="xr-spatial-tracking; gyroscope; accelerometer"
            allowfullscreen
            src="https://kuula.co/share/collection/7KRX5?logo=1&info=1&fs=1&vr=0&zoom=1&thumbs=0&inst=0&keys=0"></iframe>
</div>